html,
body {
    height: 100%;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

#app {
    flex: row;
}

footer {
    margin-top: auto;
    background: #282828;
}

.title-block {
    color: #fff;
    background: #282828;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

h1.title-block {
    font-size: 2rem;
}

.title-block,
.content,
.content-shadow {
    box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.15);
}

.content-parent,
.content {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.content-parent .content {
    margin: 0;
}

.content {
    background: #fff;
    padding: 25px;
}

.navbar {
    min-height: 50px;
    width: 100%;
    z-index: 1;
    position: absolute;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
  
  .navbar-brand img {
      max-height: 120px;
      max-width: 150px;
  }
  
  .navbar .navbar-nav .nav-link {
      padding: 0.5rem 0.75rem;
      font-size: large;
      color: #ebebeb;
  }
  
.home-background {
    height: 900px;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}


.home-background .btn {
    border-radius: 25px;
    padding: 10px 35px;
}

.home-background img {
    max-height: 400px;
}

.home-background .btn {
    border-radius: 0;
    padding: 1000px 35px;
}

.post-preview {
    position: relative;
    margin-right: -350px;
    
}

.post-preview .post-img {
    border-radius: 5px;
}

.post-preview .post-body {
    padding: 10px;
    color: #f6e58d;
    background: #54a0ff;
    border-radius: 5px;
}

.post-preview .post-img ~ .post-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: rgba(0, 0, 0, 0.5);
}

.post-preview .card-title {
    color: inherit;
}

.post-preview {
    border-radius: 0;
}

.post-preview .card-img-top {
    border-radius: 0;
}

.post-preview a {
    color: #f6e58d;

}

.discord-widget {
    border: none;
    width: 100%;
}

#load {
    width: 103%;
    margin-left: -41px;
    height: 1px;
}

#load > svg {
    width: 100%;
    display: block;
}


.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.home-page {
    text-align: center;
    font-size: 50px;
    font-family: 'Baloo Tamma 2', cursive;

}

.bg-text {
    font-family: 'Raleway', sans-serif;

}

.btn-discord {
    background-color: rgb(32, 53, 124);
    border-color: transparent;
    color: #ff9f43;
    border-radius: 5px;
    font-size: 20px;
    height: 55px;
}

.btn-launcher {
    background-color: rgb(223, 208, 73);
    border-color: transparent;
    color: #5f27cd;
    border-radius: 5px;
    font-size: 20px;
    height: 55px;

}
